/* DEFUALT */
* {
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: -0.5px;
  transition: all 300ms;
  font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding: 21px 0 7px;
  background-color: rgba(255, 255, 255, 0.72);
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  transition: all 300ms ease;
}

.logo {
  margin: 11px 28px;
}

.header-ul {
  display: flex;
  list-style: none;
}

.header-ul li {
  font-size: 14px;
  margin: 0 15px;
}

.header-ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #303030;
}

.header-ul > li:last-child a {
  color: #28457b;
  background-color: rgba(232, 239, 254, 0.6);
  border-radius: 20px;
  padding: 10px 27px;
  margin-right: 20px;
  font-family: YekanBakhBold;
}
.header-ul > li:last-child a:hover {
  background-color: #fbf6d9;
}

.more-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.more-menu img {
  width: 8px;
  margin-right: 8px;
  align-self: center;
}

.hamburger-icon {
  width: 27px;
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  font-family: iranyekanwebregular;
  transform: translateY(-150%);
}

.more-item {
  background-color: #eee;
  padding: 20px 30px;
}

.more-item a {
  text-decoration: none;
  padding: 5px 3px;
  color: #28457b;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
  background-color: rgba(232, 239, 254, 0.6);
  font-size: 16px;
  border-radius: 20px;
  transition: all 300ms;
}

.more-item a:hover {
  background-color: #fbf6d9;
}

.more-item a img {
  width: 15px;
  margin-right: 5px;
}

.cross-icon {
  max-width: 100%;
  text-align: left;
  padding: 25px 25px;
}

.cross-icon img {
  width: 20px;
}

.hamburger-menu-items {
  padding: 10px 30px;
}

.hamburger-menu-items ul {
  list-style: none;
}

.hamburger-menu-items a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 5px 0;
}

.hamburger-menu-items div {
  height: 1px;
  background-color: #dfe1e4;
  width: 90%;
  margin: 8px 0;
}

.show-hamburger-menu {
  animation: fadeInDown 0.35s forwards;
}

#show-more-menu {
  position: relative;
}

#show-more-menu ul {
  position: absolute;
  top: 0;
  left: -35px;
  background-color: #fff;
  border-top: 5px solid #f8e88b;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  list-style: none;
  border-radius: 12px;
  box-shadow: 0 20px 40px 0 rgba(36, 39, 51, 0.15);
  display: none;
  width: 123px;
}

#show-more-menu li {
  margin: 0;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: black;
}

#show-more-menu li:hover {
  background-color: rgba(232, 239, 254, 0.6);
}

#show-product-menu {
  position: relative;
}

.product-menu {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: -135px;
  background-color: #fff;
  display: none;
  justify-content: flex-start;
  width: 372px;
  border-top: 5px solid #f8e88b;
  border-radius: 12px;
  padding-top: 5px;
  margin-top: 25px;
  box-shadow: 0 20px 40px 0 rgba(36, 39, 51, 0.15);
}

.product-menu a p:first-child {
  color: #000;
  font-size: 0.95rem;
}

.product-menu a p:last-child {
  color: #000;
  font-size: 0.7rem;
}

.product-menu div a:hover {
  background-color: rgba(232, 239, 254, 0.6);
}

.product-menu a {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* HOME BANER */
.baner {
  width: 1050px;
  padding: 124px 60px 80px;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.baner-text h3 {
  font-family: YekanBakhHeavy;
  font-size: 32px;
  color: #fff;
}

.baner-text p {
  color: #fff;
  font-family: YekanBakhMedium;
  font-size: 18px;
  margin: 25px 0;
  line-height: 40px;
}

.baner-image img {
  width: 500px;
}

.baner-buttons {
  margin-top: 60px;
}

.register {
  font-size: 1rem;
  font-family: YekanBakhBold;
  color: #000;
  background-color: #ffd900;
  padding: 6px 14px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  text-decoration: none;
}

.login {
  font-size: 1rem;
  font-family: YekanBakhBold;
  color: #fff;
  background-color: #435a8a;
  padding: 6px 14px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}

.go-down div {
  background-image: url(../images/arrowbottom.svg);
  width: 164px;
  height: 78px;
}

.go-down img {
  width: 15px;
  position: relative;
  top: -60px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  header {
    width: 940px;
  }

  .baner {
    width: 900px;
    padding: 60px 40px 120px;
  }

  .baner-image img {
    width: 430px;
  }
}

@media (max-width: 990px) {
  header {
    width: auto;
    padding: 20px 60px;
  }

  .header-ul li:last-child {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .headerul li {
    margin: 0 10px;
  }

  .baner {
    width: auto;
    padding: 40px 40px 85px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .baner-image img {
    display: none;
  }

  .baner-text {
    text-align: center;
  }

  .baner-text p {
    margin: 5px 0;
    font-size: 1rem;
  }

  .baner-buttons {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .header-ul {
    display: none;
  }

  header {
    width: auto;
    padding: 10px 8px;
  }

  .hamburger-icon {
    display: block;
  }

  .baner {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .baner {
    padding: 80px 40px;
  }

  .baner-text h3 {
    font-size: 1.2rem;
    text-align: right;
  }

  .baner-text p {
    text-align: justify;
  }
}

/* BANNER */
.top-banner {
  width: 100%;
  text-decoration: none;
  background-color: #000;
  height: 56px;
  position: relative;
  text-align: center;
  display: block;
}

.banner-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  gap: 12px;
}

.banner-text {
  font-family: YekanBakhBold;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  position: relative;
  z-index: 2;
}

.banner-button-click {
  position: relative;
  padding: 2px 8px 2px 2px;
  background: hsla(0, 0%, 100%, 0.25);
  border-radius: 24px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  display: flex;
  z-index: 2;
}

.banner-button-label {
  text-align: right;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

.banner-button-icon {
  width: 20px;
  height: 20px;
}

.banner-background {
  background-image: url(../images/BannerTop.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 650px;
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (max-width: 470px) {
  .banner-text {
    font-size: 16px;
  }

  .banner-button-label {
    font-size: 9px;
  }

  .banner-button-icon {
    width: 18px;
    height: 18px;
  }

  .banner-button-click {
    padding: 2px 6px 2px 2px;
  }
}
