* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  letter-spacing: -0.5px;
  background-color: #fff;
  overflow-x: hidden;
  font-family: font-regular;
}

/* DEFUALT */
a {
  text-decoration: none;
  color: #fff;
}

.section {
  width: 1170px;
  margin: 10px auto;
}

ul {
  list-style-type: none;
}

/* BANNER */
.banner {
  width: 100%;
  background-color: #000;
  height: 56px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-background {
  width: 100%;
  max-width: 650px;
  height: 56px;
  background: url(../images/header.svg) no-repeat 50%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-texts {
  z-index: 2;
  color: #fff;
  font-family: font-bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 3px;
}

.banner-texts p {
  font-size: 21px;
  word-wrap: break-word;
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 5px;
  background-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 24px;
  gap: 4px;
  z-index: 2;
  margin-bottom: 3px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 200ms;
}

.banner-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
}

.banner-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-family: font-medium;
}

.banner-icon {
  width: 20px;
  height: 20px;
}

/* HEADER */
.header {
  padding: 11px 0 7px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-grow: 0;
  -moz-flex-grow: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.logo img {
  height: 30px;
  width: 141px;
  margin-top: 11px;
  margin-right: 20px;
}

.navbar {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  z-index: 1;
  margin: 0 15px;
  display: inline-block;
  color: #303030;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-family: font-medium-2;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
  width: max-content;
  text-align: center;
  padding: 0;
  top: -6px;
  position: relative;
}

.nav-menu a {
  color: #303030;
}

.nav-menu svg {
  width: 13px;
  position: relative;
  bottom: 0;
  vertical-align: middle;
  right: 3px;
}

.my-profile {
  border-radius: 20px;
  border: none;
  position: relative;
  top: 0;
  font-family: font-bold;
  font-size: 14px;
  background-color: rgba(232, 239, 254, 0.6);
  min-width: 180px;
  padding: 10px 27px;
  margin-right: 20px;
}

.my-profile:hover {
  background-color: #f8e88b;
}

.hover-list {
  transition: all 0.3 ease-in-out;
  margin-top: 20px;
  z-index: 999;
  position: absolute;
  min-width: 421px;
  height: 285px;
  margin-right: -165px;
  text-align: right;
  background-color: #fff;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 20px 40px 0 rgba(36, 39, 51, 0.15);
  border-radius: 12px;
  border-top: 5px solid #f8e88b;
  font-size: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.right ul,
.left ul {
  display: flex;
  flex-direction: column;
}

.right ul {
  padding-right: 15px;
}

.top-text {
  font-size: 14px;
  font-family: font-bold;
  font-weight: 400;
  position: relative;
  top: 5px;
  color: #303030;
}

.li-hover-list {
  padding-right: 15px;
  padding-left: 15px;
}

.bottom-text {
  font-size: 12px;
  position: relative;
  font-family: font-medium-2;
  top: 2px;
  color: #303030;
}

.test {
  margin-top: 2000px;
}
